.ABTest-subject {
    padding-top: 80px;
    padding-bottom: 80px;
    h3 {
        font-family: PingFangTC, AvenirNext;
        font-size: 40px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: 0.07px;
    }
    p {
        margin-top: 40px;
        font-family: PingFangTC, AvenirNext;
        font-size: 24px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: 0.04px;
        text-align: center;
    }
}

.ABTest-flow {
    padding-top: 80px;
    padding-bottom: 90px;
    h3 {
        width: 457px;
        font-family: PingFangTC, AvenirNext;
        font-size: 40px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: 0.07px;
        text-align: center;
    }
    ul {
        margin-top: 40px;
    }
    li:nth-child(1), li:nth-child(3), li:nth-child(5) {
        width: 280px;
        border-radius: 6px;
        border: 0px solid;
        h4 {
            padding-top: 18px;
            font-family: AvenirNextItalic;
            font-size: 38px;
            font-weight: 500;
            font-stretch: normal;
            font-style: italic;
            line-height: 1;
            letter-spacing: 0.07px;
        }
        h5 {
            margin-top: 10px;
            font-size: 20px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1;
            letter-spacing: 0.04px;
        }
        p { 
            margin-top: 16px;
            margin-bottom: 22px; 
            font-size: 15px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.07;
            letter-spacing: 0.03px;
            color: #ecf1ff;            
        }
        .cust-img-select {
            width: 56px;
            height: 24px;
            object-fit: contain;
            margin: 4px 6px 8px;
            // margin-left: 6px;
            // margin-right: 6px;
        }
    }
    li:nth-child(2), li:nth-child(4) {
        width: 50px;
        padding-top: 71.5px;
        padding-right: 13.5px;
        padding-left: 13.5px;
        img {
            width: 23px;
        }
    }
}