.ABTest-banner {
    background: url("../images/desktop/desktop_bg_banner@2x.png") no-repeat center center; 
    background-size: cover;       
    @include tablet() {
        background: url("../images/tablet/tablet_bg_banner@2x.png") no-repeat center center; 
    }
    @include mobile() {
        background: url("../images/mobile/mobile_bg_banner@2x.png") no-repeat center center; 
    }

    .img {
        background-image: url("../images/desktop/desktop_img_banner_AB@2x.png");
        background-size: contain;
        width: 390px;
        height: 332px;
        margin: 128px 92px 128px 258px;        
        @include tablet() {
            background-image: url("../images/tablet/tablet_img_banner_AB@2x.png");
            width: 390px;
            height: 332px;
            margin: 70px auto 0 auto;
        }
        @include mobile() {
            background-image: url("../images/mobile/mobile_img_banner_AB@2x.png");
            width: 288px;
            height: 244px;
            margin: 50px auto 0 auto;
        }
    }
    .banner-notice {
        margin-top: 120px;
        width: 130px;
        height: 50px;
        font-family: AvenirNext-Medium, PingFangTC-Semibold;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 1px;      
        border-radius: 10px;
        @include tablet() {
            margin-top: 65px;
            width: 110px;
            height: 40px;
            font-family: AvenirNext-Medium, PingFangTC-Semibold;
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 0.9px;
        }
        @include mobile() {
            margin-top: 40px;
            width: 110px;
            height: 40px;
            font-family: AvenirNext-Medium, PingFangTC-Semibold;
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 0.8px;
        }
    }
    h1 {
        margin-top: 24px;
        font-family: AvenirNext-Medium, PingFangTC-Medium;
        font-size: 50px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: 0.09px;     
        @include tablet() {
            margin-top: 18px;
            font-family: AvenirNext-Medium, PingFangTC-Medium;
            font-size: 40px;
            font-weight: 500;
            letter-spacing: 0.07px;
        }
        @include mobile() {
            margin-top: 16px;
            font-family: AvenirNext-Medium, PingFangTC-Medium;
            font-size: 32px;
            font-weight: 500;
            letter-spacing: 0.06px;
        }
    }
    p {
        margin-top: 26px;
        font-family: AvenirNext-Medium, PingFangTC-Medium;
        font-size: 20px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.6;
        letter-spacing: 0.04px;
        @include tablet() {
            margin-top: 30px;
            font-family: AvenirNext-Medium, PingFangTC-Medium;
            font-size: 20px;
            font-weight: 500;
            line-height: 1.8;
            letter-spacing: 0.04px;
            text-align: center;
        }
        @include mobile() {
            margin-top: 26px;
            font-family: AvenirNext-Medium, PingFangTC-Medium;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.75;
            letter-spacing: 0.03px;
            text-align: center;
        }
    }
    .custom-btn-light:hover {
        background-color: #1f2c4f;
        color: #ffffff;
        border-color: #1f2c4f;
    }
    .custom-btn-light {
        margin-top: 44px;
        width: 330px;
        height: 70px;
        font-family: AvenirNext-Medium, PingFangTC-Semibold;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.7px;
        border-radius: 35px;
        color: #373737;
        @include tablet() {
            margin-top: 40px;
            margin-bottom: 70px;
            width: 330px;
            height: 60px;
            font-family: AvenirNext-Medium, PingFangTC-Semibold;
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 0.7px;
        }
        @include mobile() {
            margin-top: 34px;
            margin-bottom: 50px;
            width: 270px;
            height: 60px;
            font-family: AvenirNext-Medium, PingFangTC-Semibold;
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 0.7px;
        }
    }
}

.ABTest-content {
    padding: 100px 275px 100px 275px;
    @include tablet() {
        padding: 70px 30px 70px 30px;
    }
    @include mobile() {
        padding: 50px 10px 50px 10px;
    }
    .content-question-block {
        .content-question {        
            width: 504px;
            padding: 22px 24px;
            font-family: PingFangTC-Medium;
            font-size: 32px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: 0.06px;
            text-align: justify;
            border-radius: 20px;
            @include tablet() { 
                width: 452px;
                font-size: 28px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.43;
                letter-spacing: 0.05px;
                text-align: justify;
            }
            @include mobile() {
                padding: 10px 12px;
                width: 273px;
                font-size: 20px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.4;
                letter-spacing: 0.04px;
                text-align: justify;
                border-radius: 10.2px;
            }
        }
        .content-question-img {
            margin-left: 18px;
            background-image: url("../images/desktop/desktop_ic_dialog_user@2x.png");
            background-size: contain;
            width: 78px;
            height: 78px;
            @include tablet() { 
                margin-left: 14px;
                width: 72px;
                height: 72px;
            }
            @include mobile() {
                background-image: url("../images/mobile/mobile_ic_dialog_user@2x.png");
                margin-left: 8px;
                width: 40px;
                height: 40px;
            }
        }
    }
    .content-reply-block {        
        margin-top: 40px;
        @include tablet() {     
            margin-top: 30px;
        }
        .content-reply-img {
            margin-right: 18px;
            background-image: url("../images/desktop/desktop_ic_dialog_mailhunter@2x.png");
            background-size: contain;
            width: 78px;
            height: 78px;
            @include tablet() {     
                width: 72px;
                height: 72px;
            }
            @include mobile() {
                margin-right: 8px;
                background-image: url("../images/mobile/mobile_ic_dialog_mailhunter@2x.png");
                width: 40px;
                height: 40px;
            }
        }
        .content-reply {        
            width: 346px;
            padding: 20px 0 20px 24px;
            border-radius: 20px;
            font-family: AvenirNext-Medium, PingFangTC-Medium;
            font-size: 32px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: 0.06px;
            text-align: center;
            @include tablet() {     
                font-size: 28px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.43;
                letter-spacing: 0.05px;
            }
            @include mobile() {
                width: 210px;
                padding: 8px 0 8px 0;
                font-size: 20px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.4;
                letter-spacing: 0.04px;
                border-radius: 10.2px;
            }
        }
    }

    .content-atest-block {
        margin-top: 60px;
        padding-top: 24px;
        padding-bottom: 24px;
        border-radius: 10px;
        @include tablet() {     
            margin-top: 50px;
            padding-top: 26px;
            padding-bottom: 26px;
        }
        .content-atest-percent {
            margin-left: 40px;
            margin-right: 16px;
            font-family: AvenirNext-Medium;
            font-size: 62px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1;
            letter-spacing: 0.11px;
            @include tablet() {     
                margin-left: 24px;
                margin-right: 16px;
                font-size: 38px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1;
                letter-spacing: 0.07px;
            }
        }
        .content-atest-img {
            margin-right: 54px;
            background-image: url("../images/desktop/desktop_ic_dialog_pie_20@2x.png");
            background-size: contain;
            width: 232px;
            height: 154px;            
            @include tablet() {    
                background-image: url("../images/tablet/tablet_ic_dialog_pie_20@2x.png");
                margin-right: 20px; 
                width: 205px;
                height: 134px;            
            }
        }
        .content-atest-word {
            font-family: AvenirNext-Medium, PingFangTC-Medium;
            font-size: 26px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.54;
            letter-spacing: 0.05px;     
            @include tablet() {    
                width: 283px;
                font-size: 24px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: 0.04px;       
            }    
            @include mobile() {    
                margin-top: 12px;
                font-size: 18px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.56;
                letter-spacing: 0.03px;
                text-align: center;      
            }
        }
    }
    .content-project-block {
        margin-top: 26px;
        @include tablet() {    
            margin-top: 20px;
        }
        @include mobile() {    
            margin-top: 18px;
        }
        .content-a-project-block {
            flex: 1;
            margin-right: 14px;
            @include tablet() {    
                margin-right: 13.5px;
            }
            @include mobile() {    
                margin-right: 3.5px;
            }
        }
        .content-a-project-percent {
            width: 100px;
            height: 54px;
            padding: 15px 22px 13px 21px;
            border-radius: 27px;
            font-family: AvenirNext-DemiBold;
            font-size: 26px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1;
            letter-spacing: 0.05px;
            text-align: center;   
            @include tablet() {    
                font-size: 26px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 1;
                letter-spacing: 0.05px; 
            }
            @include mobile() {    
                width: 80px;
                height: 44px;
                padding: 12px 18px;
                font-size: 20px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 1;
                letter-spacing: 0.04px;
                text-align: center;
            }
        }
        .content-a-project-arrow {
            margin-top: -1px;
            background-image: url("../images/desktop/desktop_ic_dialog_arrow_darkB@2x.png");
            background-size: contain;
            width: 26px;
            height: 50px;
            @include mobile() {    
                background-image: url("../images/mobile/mobile_ic_dialog_arrow_darkB@2x.png");
                width: 14px;
                height: 26px;
            }
        }
        .content-a-project-crown {
            margin-top: -8px;
            @include tablet() {    
                margin-top: 0px;
            }
            @include mobile() {   
                margin-top: 7.6px;
            }
            .content-a-project-crown-img {
                background-image: url("../images/desktop/desktop_ic_dialog_champion@2x.png");
                background-size: contain;
                width: 80px;
                height: 55px;
                @include tablet() {  
                    background-image: url("../images/desktop/desktop_ic_dialog_champion@2x.png");
                    width: 57.2px;
                    height: 33.9px;
                }
                @include mobile() {   
                    background-image: url("../images/mobile/mobile_ic_dialog_champion@2x.png");
                    width: 32px;
                    height: 22px;
                }
            }
        }
        .content-a-onsale-block {
            position: relative;
            padding-top: 57px;
            padding-bottom: 30px;
            // width: 426px;
            width: 100%;
            border-radius: 10px;    
            @include tablet() {    
                // width: 340px;      
            }
            @include mobile() {   
                // width: 174px;      
            }
            .content-a-onsale-subject {
                position: absolute;
                top: -26px;
                width: 100px;
                height: 54px;
                padding: 14px 0 14px 21px;
                border-radius: 27px;
                font-family: PingFangTC-Semibold;
                background-color: #f48f7a;
                font-size: 18px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 1;
                letter-spacing: 0.03px;
                text-align: center;
                @include tablet() {    
                    width: 100px;
                    height: 54px;
                    padding: 14px 0 14px 21px;
                    border-radius: 27px;
                    font-size: 18px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1;
                    letter-spacing: 0.03px;
                }
                @include mobile() {  
                    width: 80px;
                    height: 44px;
                    padding: 12px 0 12px 17px;
                    font-size: 14px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1;
                    letter-spacing: 0.02px;  
                }
                span {
                    padding-left: 2px;
                    font-family: AvenirNext-DemiBold;
                    font-size: 26px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1;
                    letter-spacing: 0.05px;
                    text-align: center;
                    @include tablet() {    
                        font-size: 26px;
                        font-weight: 600;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1;
                        letter-spacing: 0.05px;
                    }     
                    @include mobile() {  
                        padding-left: 0px;
                        font-size: 20px;
                        font-weight: 600;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1;
                        letter-spacing: 0.04px;
                    }               
                }
            }
            .content-a-onsale-word {
                font-family: AvenirNext-Medium, PingFangTC-Medium;
                font-size: 24px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1;
                letter-spacing: 0.04px;
                padding-bottom: 12.5px;
                border-bottom: 4px solid #f48f7a;                
                @include tablet() {    
                    font-size: 20px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.2;
                    letter-spacing: 0.04px;
                }    
                @include mobile() {  
                    font-size: 16px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1;
                    letter-spacing: 0.03px;
                }           
            }
            .content-a-onsale-word-break {
                @include mobile() {  
                    margin-top: 13px;
                }    
            }
            .content-a-onsale-open {
                margin-top: 24.5px;
                width: 100px;
                height: 38px;
                padding: 10px 23px 10px 24px;
                border-radius: 6px;
                font-family: AvenirNext-Medium, PingFangTC-Medium;
                font-size: 18px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1;
                letter-spacing: 0.03px;
                @include tablet() {    
                    margin-top: 21px;
                    font-size: 18px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1;
                    letter-spacing: 0.03px;
                }    
                @include mobile() {  
                    margin-top: 17px;
                    width: 64px;
                    height: 28px;
                    padding: 7px 11px;
                    font-size: 14px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1;
                    letter-spacing: 0.02px;
                }    
            }
        }
        
        .content-b-project-block {
            flex: 1;
            margin-left: 14px;
            @include tablet() {    
                margin-left: 13.5px;
            }
            @include mobile() {    
                margin-left: 3.5px;
            }
        }
        .content-b-project-percent {
            width: 100px;
            height: 54px;
            padding: 15px 22px 13px 21px;
            border-radius: 27px;
            font-family: AvenirNext-DemiBold;
            font-size: 26px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1;
            letter-spacing: 0.05px;
            text-align: center;
            @include tablet() {    
                font-size: 26px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 1;
                letter-spacing: 0.05px; 
            }
            @include mobile() {    
                width: 80px;
                height: 44px;
                padding: 12px 18px;
                font-size: 20px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 1;
                letter-spacing: 0.04px;
                text-align: center;
            }
        }
        .content-b-project-arrow {
            margin-top: -1px;
            background-image: url("../images/desktop/desktop_ic_dialog_arrow_darkB@2x.png");
            background-size: contain;
            width: 26px;
            height: 50px;
            @include mobile() {    
                background-image: url("../images/mobile/mobile_ic_dialog_arrow_darkB@2x.png");
                width: 14px;
                height: 26px;
            }
        }
        .content-b-project-crown {
            margin-top: -8px;
            @include tablet() {    
                margin-top: 0px;
            }
            @include mobile() {   
                margin-top: 7.6px;
            }
            .content-b-project-crown-img {
                background-image: url("../images/desktop/desktop_ic_dialog_champion@2x.png");
                background-size: contain;
                width: 80px;
                height: 55px;
                margin-right: 47px;
                @include tablet() {  
                    background-image: url("../images/desktop/desktop_ic_dialog_champion@2x.png");
                    width: 48px;
                    height: 33px;
                    margin-right: 17.6px;
                }
                @include mobile() {   
                    background-image: url("../images/mobile/mobile_ic_dialog_champion@2x.png");
                    width: 32px;
                    height: 22px;
                    margin-right: 7px;
                }
            }
        }
        .content-b-onsale-block {
            position: relative;
            padding-top: 57px;
            padding-bottom: 30px;
            // width: 426px;
            width: 100%;
            border-radius: 10px;
            @include tablet() {    
                // width: 340px;      
            }
            @include mobile() {   
                // width: 174px;      
            }
            .content-b-onsale-subject {
                position: absolute;
                top: -26px;
                width: 100px;
                height: 54px;
                padding: 14px 0 14px 21px;
                border-radius: 27px;
                font-family: PingFangTC-Semibold;
                background-color: #0fc4ca;
                font-size: 18px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 1;
                letter-spacing: 0.03px;
                text-align: center;
                @include tablet() {    
                    width: 100px;
                    height: 54px;
                    padding: 14px 0 14px 21px;
                    border-radius: 27px;
                    font-size: 18px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1;
                    letter-spacing: 0.03px;
                }
                @include mobile() {  
                    width: 80px;
                    height: 44px;
                    padding: 12px 0 12px 17px;
                    font-size: 14px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1;
                    letter-spacing: 0.02px;  
                }
                span {
                    padding-left: 3px;
                    font-family: AvenirNext-DemiBold;
                    font-size: 26px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1;
                    letter-spacing: 0.05px;
                    text-align: center;
                    @include tablet() {    
                        font-size: 26px;
                        font-weight: 600;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1;
                        letter-spacing: 0.05px;
                    }            
                    @include mobile() {  
                        padding-left: 0px;
                        font-size: 20px;
                        font-weight: 600;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1;
                        letter-spacing: 0.04px;
                    }              
                }
            }
            .content-b-onsale-word {
                font-family: AvenirNext-Medium, PingFangTC-Medium;
                font-size: 24px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1;
                letter-spacing: 0.04px;
                padding-bottom: 12.5px;
                border-bottom: 4px solid #0fc4ca;             
                @include tablet() {    
                    font-size: 20px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.2;
                    letter-spacing: 0.04px;
                }    
                @include mobile() {  
                    font-size: 16px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1;
                    letter-spacing: 0.03px;
                }           
            }
            .content-b-onsale-word-break {
                @include mobile() {  
                    margin-top: 13px;
                }    
            }
            .content-b-onsale-open {
                margin-top: 24.5px;
                width: 100px;
                height: 38px;
                padding: 10px 18px;
                border-radius: 6px;
                font-family: AvenirNext-Medium, PingFangTC-Medium;
                font-size: 18px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1;
                letter-spacing: 0.03px;
                @include tablet() {    
                    margin-top: 21px;
                    font-size: 18px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1;
                    letter-spacing: 0.03px;
                }    
                @include mobile() {  
                    margin-top: 17px;
                    width: 64px;
                    height: 28px;
                    padding: 7px 7px;
                    font-size: 14px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1;
                    letter-spacing: 0.02px;
                }    
            }
        }
    }
    .content-into-b-block {
        padding-top: 28px;
        padding-bottom: 20px;
        @include tablet() {    
            padding-top: 20px;
            padding-bottom: 14px;
        }    
        @include mobile() {    
            padding-top: 12px;
            padding-bottom: 10px;
        }    
        .content-into-b-img {
            background-image: url("../images/desktop/desktop_ic_dialog_arrow_lightB@2x.png");
            background-size: contain;
            width: 26px;
            height: 50px;
            margin: 0 auto;
            @include mobile() {    
                background-image: url("../images/mobile/mobile_ic_dialog_arrow_lightB@2x.png");
                width: 14px;
                height: 26px;
            }    
        }
    }
    .content-btest-block {
        padding-top: 24px;
        padding-bottom: 24px;
        border-radius: 10px;
        @include tablet() {    
            padding-top: 26px;
            padding-bottom: 26px;
        }
        .content-btest-percent {
            margin-left: 40px;
            margin-right: 16px;
            font-family: AvenirNext-Medium;
            font-size: 62px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1;
            letter-spacing: 0.11px;
            @include tablet() {     
                margin-left: 24px;
                margin-right: 16px;
                font-size: 38px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1;
                letter-spacing: 0.07px;
            }
        }
        .content-btest-img {
            margin-right: 54px;
            background-image: url("../images/desktop/desktop_ic_dialog_pie_80@2x.png");
            background-size: contain;
            width: 232px;
            height: 154px;       
            @include tablet() {    
                background-image: url("../images/tablet/tablet_ic_dialog_pie_80@2x.png");
                margin-right: 20px; 
                width: 205px;
                height: 134px;            
            }
        }
        .content-btest-word {
            font-family: AvenirNext-Medium, PingFangTC-Medium;
            font-size: 26px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.54;
            letter-spacing: 0.05px;
            @include tablet() {    
                font-size: 24px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: 0.04px;   
            }            
            @include mobile() {    
                margin-top: 12px;
                font-size: 18px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.56;
                letter-spacing: 0.03px;
                text-align: center; 
            }
        }    
    }
    .content-out-b-block {
        padding-top: 28px;
        padding-bottom: 20px;
        @include tablet() {    
            padding-top: 20px;
            padding-bottom: 14px;
        }
        @include mobile() {    
            padding-top: 12px;
            padding-bottom: 10px;
        }    
        .content-out-b-img {
            background-image: url("../images/desktop/desktop_ic_dialog_arrow_lightB@2x.png");
            background-size: contain;
            width: 26px;
            height: 50px;
            margin: 0 auto;
            @include mobile() {    
                background-image: url("../images/mobile/mobile_ic_dialog_arrow_lightB@2x.png");
                width: 14px;
                height: 26px;
            }    
        }
    }
    .content-result-block {
        background: url("../images/desktop/tablet_bg_dialog_open@2x.png") no-repeat center center; 
        background-size: cover;
        padding-top: 32px;
        padding-bottom: 34px;
        border-radius: 10px;
        @include tablet() {    
            padding-top: 26px;
            padding-bottom: 30px;
        }
        .content-result-img {
            background-image: url("../images/desktop/desktop_ic_dialog_open@2x.png");
            background-size: contain;
            width: 116px;
            height: 116px;
            @include tablet() {    
                background-image: url("../images/tablet/tablet_ic_dialog_open@2x.png");
                width: 94px;
                height: 94px;
            }
        }
        .content-result-word {
            margin-top: 14px;
            font-family: PingFangTC-Medium;
            font-size: 26px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1;
            letter-spacing: 0.05px;
            text-align: center;
            @include tablet() {    
                font-size: 24px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1;
                letter-spacing: 0.04px;
            }
        }
    }
}

.ABTest-subject {
    padding-top: 100px;        
    @include tablet() {
        padding-top: 70px;
    }      
    @include mobile() {
        padding-top: 50px;
    }
    h3 {
        margin-bottom: 60px;
        font-family: AvenirNext-DemiBold, PingFangTC-Semibold;
        font-size: 42px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: 0.07px;
        text-align: center;
        @include tablet() {
            font-family: AvenirNext-DemiBold, PingFangTC-Semibold;
            font-size: 40px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.31;
            letter-spacing: 0.07px;
        }             
        @include mobile() {
            font-family: AvenirNext-DemiBold, PingFangTC-Semibold;
            font-size: 32px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.31;
            letter-spacing: 0.06px;
        }
         
    }
}

.ABTest-flow {
    padding-bottom: 100px;
    @include tablet() {
        padding-bottom: 70px;
    }
    @include mobile() {
        padding-bottom: 50px;
    }
    li:nth-child(1), li:nth-child(3), li:nth-child(5) {
        width: 300px;
        border-radius: 6px;
        border: 0px solid;
        @include tablet() {
            width: 400px;
        }
        @include mobile() {
            width: 300px;
        }
        h4 {
            padding-top: 28px;
            font-family: AvenirNext-MediumItalic;
            font-size: 38px;
            font-weight: 500;
            font-stretch: normal;
            font-style: italic;
            line-height: 1;
            letter-spacing: 0.07px;
            text-align: center;
            @include tablet() {
                font-family: AvenirNext-MediumItalic;
                font-size: 38px;
                font-weight: 500;
                font-stretch: normal;
                font-style: italic;
                line-height: 1;
                letter-spacing: 0.07px;
            }
            @include mobile() {
                font-family: AvenirNext-MediumItalic;
                font-size: 38px;
                font-weight: 500;
                font-stretch: normal;
                font-style: italic;
                line-height: 1;
                letter-spacing: 0.07px;
            }
        }
        h5 {
            margin-top: 10px;
            font-family: AvenirNext-DemiBold, PingFangTC-Semibold;
            font-size: 20px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1;
            letter-spacing: 0.04px;
            @include tablet() {
                font-family: AvenirNext-DemiBold, PingFangTC-Semibold;
                font-size: 20px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 1;
                letter-spacing: 0.04px;
            }
            @include mobile() {
                font-family: AvenirNext-DemiBold, PingFangTC-Semibold;
                font-size: 20px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 1;
                letter-spacing: 0.04px;
            }
        }
        p { 
            margin-top: 16px;
            margin-bottom: 32px; 
            font-family: PingFangTC-Medium;
            font-size: 15px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.07;
            letter-spacing: 0.03px;            
            @include tablet() {
                font-family: PingFangTC-Medium;
                font-size: 15px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.07;
                letter-spacing: 0.03px;
            }            
            @include mobile() {
                font-family: PingFangTC-Medium;
                font-size: 15px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.07;
                letter-spacing: 0.03px;
            }
        }
        .cust-img-select {
            background-image: url("../images/desktop/desktop_ic_step_20@2x.png");
            background-size: contain;
            width: 56px;
            height: 24px;
            margin: 0px 6px 10px;
        }
        .cust-img-step1 {
            background-image: url("../images/desktop/desktop_img_step_1@2x.png");            
            background-size: contain;
            width: 300px;
            height: 172px;         
            @include tablet() {
                background-image: url("../images/tablet/tablet_img_step_1@2x.png");
                width: 400px;
                height: 160px;         
            }       
            @include mobile() {
                background-image: url("../images/mobile/mobile_img_step_1@2x.png");
                width: 300px;
                height: 172px;         
            }
        }        
        .cust-img-step2 {
            background-image: url("../images/desktop/desktop_img_step_2@2x.png");
            background-size: contain;
            width: 300px;
            height: 172px;       
            @include tablet() {
                background-image: url("../images/tablet/tablet_img_step_2@2x.png");
                width: 400px;
                height: 160px;         
            }
            @include mobile() {
                background-image: url("../images/mobile/mobile_img_step_2@2x.png");
                width: 300px;
                height: 172px;         
            }
        }
        .cust-img-step3 {
            background-image: url("../images/desktop/desktop_img_step_3@2x.png");
            background-size: contain;
            width: 300px;
            height: 172px;       
            @include tablet() {
                background-image: url("../images/tablet/tablet_img_step_3@2x.png");
                width: 400px;
                height: 160px;         
            }
            @include mobile() {
                background-image: url("../images/mobile/mobile_img_step_3@2x.png");
                width: 300px;
                height: 172px;         
            }
        }
    }
    li:nth-child(2), li:nth-child(4) {        
        width: 100px;
        padding-top: 55px;
        @include tablet() {
            width: 400px;
            height: 94px;
            padding-top: 24px;
            padding-bottom: 20px;
        }
        @include mobile() {
            width: 300px;
            height: 48px;
            padding-top: 12px;
            padding-bottom: 12px;    
        }
        .img {
            background-image: url("../images/desktop/desktop_ic_step_arrow_black@2x.png");
            background-size: contain;
            width: 53px;
            height: 26px;
            margin: 0 auto;
            @include tablet() {
                background-image: url("../images/tablet/tablet_ic_step_arrow_black@2x.png");
                width: 26px;
                height: 53px;
            }
            @include mobile() {
                background-image: url("../images/tablet/tablet_ic_step_arrow_black@2x.png");
                width: 13px;
                height: 26.5px;
            }
        }
    }
}
.ABTest-half {
    padding-top: 100px;
    @include tablet() {
        padding-top: 70px;
    }
    @include mobile() {
        padding-top: 50px;
    }
    background: linear-gradient(
        to right, 
        #c0ceff 0%, 
        #c0ceff 50%, 
        #d7e0ff 50%, 
        #d7e0ff 100%
      );
    h2 {
        font-family: AvenirNext-DemiBold, PingFangTC-Semibold;
        font-size: 42px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: 0.07px;
        text-align: center;
        @include tablet() {
            font-family: AvenirNext-DemiBold, PingFangTC-Semibold;
            font-size: 40px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1;
            letter-spacing: 0.07px;
        }
        @include mobile() {
            font-family: AvenirNext-DemiBold, PingFangTC-Semibold;
            font-size: 32px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.38;
            letter-spacing: 0.06px;
        }
    }
    p {
        margin-top: 36px;
        margin-bottom: 60px;
        font-family: AvenirNext-DemiBold, PingFangTC-Medium;
        font-size: 24px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0.04px;
        text-align: center;
        @include tablet() {
            margin-top: 40px;
            margin-bottom: 54px;
            font-family: AvenirNext-DemiBold, PingFangTC-Medium;
            font-size: 24px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: 0.04px;
        }
        @include mobile() {
            margin-top: 20px;
            margin-bottom: 30px;
            font-family: AvenirNext-DemiBold, PingFangTC-Medium;
            font-size: 16px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.75;
            letter-spacing: 0.03px;
        }
    }
    .img {        
        background-image: url("../images/desktop/desktop_img_ab_versus@2x.png");
        background-size: contain;
        width: 930px;
        height: 520px;
        @include tablet() {
            background-image: url("../images/tablet/tablet_img_ab_versus@2x.png");
            width: 708px;
            height: 494px;
        }
        @include mobile() {
            background-image: url("../images/mobile/mobile_img_ab_versus@2x.png");
            width: 344px;
            height: 245px;
        }
    }
}
