body,
html {
	font-family: "Lato", sans-serif;
}

a {
	display: block;
	cursor: pointer;
	text-decoration: none;	
}

.font-bold {
	font-weight: bold;
}

.text-primary {
	color: theme-color(primary);
}

.background-color-primary {
	background-color: theme-color(primary);
}

.background-color-success {
	background-color: theme-color(success)!important;
}

.border-color-primary {
	border-color: theme-color(secondary);
}

.border-color-success {
	border-color: theme-color(success)!important;
}

.color-success {
	color: theme-color(success);
}

.color-danger {
	color: theme-color(danger);
}

.color-dark {
	color: theme-color(dark);
}

.fz16 {
	font-size: 16px;
}

.fz24 {
	font-size: 24px;
}
