/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
  font-family: Noto_Sans;
  src: url(/font/Noto_Sans/NotoSans-Regular.ttf); /* 如果使用者電腦中找不到，則從網路下載 */
}

.body{
  font-family: Noto_Sans;
}


.header{
  background-color: #AA0601;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.header .logo{
  display:block;
  background:url('../images/logo-new_工作區域 1.png') no-repeat;
  text-indent:101%; /*首行縮排*/
  overflow:hidden; /*自動隱藏超出的文字或圖片*/
  white-space:nowrap; /*希望元素在第一排上面，沒有斷行*/  
  width: 80px;
  height: 48.75px;
  margin-left: 88px;
  margin-top: 30px;
}

.menu{
  margin-top: 40px;
  margin-right: 88px;
  width: 492px;
  display: flex;
  justify-content: space-between;
}

.menu li{
  color: #FFFFFF;
  font-size: 20px;
}

.content{
  border: 1px solid white;
}

.container{
  background-color: #AA0601;
  color: #FFFFFF;
}

.footer{
  width: 1110px;
  margin: 0 auto;
}

.footer_up{
  display: flex;
  justify-content: space-between;
  padding-top: 36px;
}

.footer_menu .footer_menu_map{
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
  width: 464px;
}

.footer_menu .footer_menu_connect{
  margin-bottom: 17px;
  font-size: 36px;
  display: flex;
  align-items: center;
}

.footer_menu .footer_menu_connect li img{
  width: 40px;
  height: 40px;
  padding-right: 20px;
}

.footer_icon{
  display: flex;
  justify-content: space-between;
  width: 208px;
}

.footer_down{
  border-top: 1px solid white;
  display: flex;
  padding-top: 28px;
  padding-bottom: 28.43px;
}

.footer_down p{
  width: 10%;
}

.footer_down p img{
  width: 80px;
  height: 48.75px;
}
.footer_copyright{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.footer_copyright p{
   width: 50%;
}

.footer_copyright ul{
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
.footer_copyright ul li{
  margin-left: 62px;
  font-size: 14px;
}

@media(max-width:1109px){

  .container{
    padding-right: 15px;
    padding-left: 15px;
  }
  .footer{
    width: 100%;
  }
}

@media(max-width:992px){
  .header .logo{
    margin-left: 39px;
  }
    
   .menu{
    margin-right: 39px;
    width: 430px;
  }

  .container{
    padding-left: 48px;
    padding-right: 39px;
  }

  .footer{
    width: 100%;
  }

  .footer_menu .footer_menu_connect{
    font-size: 20px;
  }
  
  .footer_menu .footer_menu_connect li img{
    width: 24px;
    height: 24px;
  }  
  
  .footer_icon li img{
    width: 24px;
    height: 24px;
  }

  .footer_down > p{
    display: none;
  }

  .footer_copyright{
    width: 100%;
  }

}
  
  @media(max-width:767px){
    .header{
      display: flex;
      flex-direction: column;
      align-items: center;
      height: auto;
      padding: 0;
    }
  
    .header .logo{
      margin: 10px auto 10.86px;
    }
      
    .menu{
      margin: 0 auto;
      width: 100%;
      justify-content: flex-start;
      flex-wrap:wrap;
    }
  
    .menu li p{
      padding: 8px 0px 8px 0px ;
      border: 1px solid white;
      width: 100%;
    }
  
    .menu li{
      width: 50%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
  .container{
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer{
    width: 100%;
  }

  .footer_up{
    padding-top: 23px;
    margin-bottom: 7px;
  }

  .footer_menu .footer_menu_connect{
    font-size: 16px;
    margin-bottom: 7px;
  }
  
  .footer_menu .footer_menu_connect li img{
    width: 24px;
    height: 24px;
  }

  .footer_menu .footer_menu_map{
    display: none;
  }
  
  .footer_menu .footer_menu_connect{
    font-size: 16px;
  }
  .footer_icon{
    width: 120px;
  }

  .footer_down{
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: row-reverse;
  }

  .footer_down > p{
    display: block;
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
  .footer_down p img{
    width: 46px;
    height: 27.93px;
  }

  .footer_copyright{
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .footer_copyright p{
    width: 100%;
    font-size: 14px;
    margin-bottom: 8px;
  }
  .footer_copyright ul{
    width: 100%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
  }

  .footer_copyright ul li{
    width: 100%;
    margin: 0px auto 8px;
  }
  }