@font-face {
  font-family: "Avenir";
  src: url("../font/Avenir-Heavy.ttf");
}

@font-face {
  font-family: "AvenirNext";
  src: url("../font/AvenirNext-Medium.ttf");
}

@font-face {
  font-family: "AvenirNextItalic";
  src: url("../font/AvenirNext-MediumItalic.ttf");
}

@font-face {
  font-family: "PingFangTC";
  src: url("../font/PingFangTC-Medium.ttf");
}

body,
html {
  font-family: "微軟正黑體";
}
