<footer class="custom-block-dark  container  bg-dark-light  d-flex  flex-column  align-items-center">
    <p class="text-light">©繹宇數位科技股份有限公司</p>
    <p class="text-light">EasyUse Digital Technology Co., Ltd. </p>
</footer>