<div class="footer bg-copyright">
    <div class="container">
        <div class="copyright">
            <h1><a href="#" class="logo logoPerfumeFooter navbar-brand">d’Perfume</a></h1>
            <p>© 2020. All Rights Reserved.</p>
        </div>
        <ul class="menuLink list-unstyled">
            <li><a href="#">Product</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</div>