
<div class="footer">
    <div class="container">
        <div>
            <h1><a href="#">logo</a></h1>
            <p>© 2020. All Rights Reserved.</p>
        </div>
    </div>
    <ul>
        <li><a href="#"></a>Product</li>
        <li><a href="#"></a>Blog</li>
        <li><a href="#"></a>Contact</li>
    </ul>
</div>