<div class="header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <h1><a href="#" class="logo logoPerfumeHeader navbar-brand">d’Perfume</a></h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item active">
                        <a class="menuAction nav-link" href="#"><span class="material-icons">store</span><p>Product</p></a>
                    </li>
                    <li class="nav-item">
                        <a class="menuAction ml-lg-32 nav-link" href="#"><span class="material-icons">person</span><p>log&nbsp;in</p></a>
                    </li>
                    <li class="nav-item">
                        <a class="menuAction ml-lg-32 nav-link" href="#"><span class="material-icons">favorite</span><p>Wishlist</p></a>
                    </li>
                    <li class="nav-item">
                        <a class="menuAction ml-lg-32 nav-link" href="#"><span class="material-icons">shopping_cart</span><p>Cart(3)</p></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
</div>