<!-- ProductFavariteModalCenter -->
<div class="modal fade" id="ProductFavariteModalCenter" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="customModalBody modal-body">
                已加入我的收藏
            </div>
        </div>
    </div>
</div>
<!-- ProductCartModalCenter -->
<div class="modal fade" id="ProductCartModalCenter" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="customModalBody modal-body">
                已加入購物車
            </div>
        </div>
    </div>
</div>