<div class="order">
    <div class="container">
        <form>
            <div class="form-row">
                <div class="col-12 col-md-4">
                    <h1>記得<br>訂閱以獲取更多資訊！</h1>
                    <div class="input-group mb-3">
                        <input type="text" class="inputOrder form-control" placeholder="Your email address"
                            aria-label="Your email address" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <span class="btnOrder input-group-text" id="basic-addon2">Subscribe</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8"></div>
            </div>
        </form>
    </div>
</div>