<div class="footer bg-brown">
    <div class="container">
        <div class="copyright">
            <h1><a href="index.html" class="logo logoPerfumeFooter navbar-brand">d’Perfume</a></h1>
            <p>© 2020. All Rights Reserved.</p>
        </div>
        <ul class="menuLink list-unstyled d-none d-sm-flex">
            <li><a href="product.html">Product</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</div>