<div id="demoblock" class="order-banner container  d-flex  flex-xl-row  flex-column  align-items-center  align-items-stretch">
    <div class="img  d-flex  flex-column  align-items-xl-start align-items-center">
        <div
            class="order-notice  btn  btn-outline-light  btn-none-hover text-light  d-flex  justify-content-center  align-items-center">
            <span>詳細了解</span>
        </div>
        <div class="order-logo"></div>
        <h2 class="text-light">A/B Test 功能</h2>
    </div>
    <div class="order-content bg-secondary-light" id="demoblock2">
        <form id="form-demo" class="needs-validation" novalidate method="POST" action="">
            <div class="d-flex  flex-md-row  flex-column">
                <div class="custom-form-group  d-flex  flex-column-reverse">
                    <input type="text" class="form-control  wd-100 background-color-primary" id="username"
                        name="username" placeholder="" value="" required>
                        <div class="wd-100  d-flex  align-items-center  justify-content-between">
                            <label class="form-label" for="username">姓名*</label>
                            <label class="invalid-feedback">
                                請輸入姓名
                            </label>
                        </div>
                </div>
                <div class="custom-form-group  d-flex  flex-column-reverse">
                    <input type="text" class="form-control  wd-100 background-color-primary" id="companyname"
                        name="companyname" placeholder="" value="" required>
                    <div class="wd-100  d-flex  align-items-center  justify-content-between">
                        <label class="form-label" for="companyname">公司名稱*</label>
                        <label class="invalid-feedback">
                            請輸入公司名稱
                        </label>
                    </div>
                </div>
            </div>
            <div class="d-flex  flex-md-row  flex-column">
                <div class="custom-form-group  d-flex  flex-column-reverse">
                    <select class="wd-100  form-control  selectpicker" data-style="custom-form-control" data-size="9" id="companytype" name="companytype" required>
                        <option class="wd-100-option custom-form-option" value=""> 請選擇 </option>
                        <option class="wd-100-option custom-form-option"> 金融業 </option>
                        <option class="wd-100-option custom-form-option"> 保險業 </option>
                        <option class="wd-100-option custom-form-option"> 零售業 </option>
                        <option class="wd-100-option custom-form-option"> 百貨業 </option>
                        <option class="wd-100-option custom-form-option"> 旅遊業 </option>
                        <option class="wd-100-option custom-form-option"> 電信業 </option>
                        <option class="wd-100-option custom-form-option"> 運輸業 </option>
                        <option class="wd-100-option custom-form-option"> 餐飲業 </option>
                        <option class="wd-100-option custom-form-option"> 電商業 </option>
                        <option class="wd-100-option custom-form-option"> 醫療業 </option>
                        <option class="wd-100-option custom-form-option"> 資訊科技 </option>
                        <option class="wd-100-option custom-form-option"> 行銷廣告 </option>
                        <option class="wd-100-option custom-form-option"> 政府機關 </option>
                        <option class="wd-100-option custom-form-option"> 非營利組織 </option>
                        <option class="wd-100-option custom-form-option"> 其他 </option>
                    </select>
                    <div ID="customInvalid" class="d-none"></div>
                    <div class="wd-100  d-flex  align-items-center  justify-content-between">
                        <label class="form-label" for="companytype">產業類別*</label>
                        <label id="invalid_companytype" class="invalid-feedback">
                            請選擇類別
                        </label>
                    </div>
                </div>                  
                <div class="custom-form-group  d-flex  flex-column-reverse">
                    <input type="text" class="form-control  wd-100 background-color-primary" id="phone" name="phone"
                        placeholder="" value="" required>
                    <div class="wd-100  d-flex  align-items-center  justify-content-between">
                        <label class="form-label" for="phone">聯絡電話*</label>
                        <label class="invalid-feedback">
                            請輸入電話號碼
                        </label>
                    </div>
                </div>
            </div>
            <div class="custom-form-group  d-flex  flex-column-reverse">
                <input type="text" class="form-control  wd-200  background-color-primary" id="email" name="email"
                    placeholder="" value="" pattern="^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-zA-Z]{2,6}(?:\.[a-zA-Z]{2})?)$" required>
                <div class="wd-200  d-flex  align-items-center  justify-content-between">
                    <label class="form-label" for="email">Email*</label>
                    <label class="invalid-feedback">
                        請輸入電子信箱
                    </label>
                </div>
            </div>
            <div class="custom-form-group  d-flex  flex-column-reverse">
                <textarea class="form-control  wd-200 background-color-primary" rows="3" id="memo"
                    name="memo"></textarea>
                    <div class="d-flex  align-items-center  justify-content-between">
                        <label class="form-label" for="memo">備註</label>
                    </div>
            </div>
            <button type="submit" class="custom-btn-demo  wd-200  btn  btn-light text-light"
                data-toggle="modal">預約&nbsp;DEMO</button>
        </form>
    </div>
</div>