<footer>
    <div class="Connect  bg-grey-light  container  d-flex">
        <div class="img"></div>
        <ul class="list-unstyled  d-flex  flex-column">
            <li class="custom-connect-company-name">
                <a class="text-green-light" href="http://www.easyuse.com.tw/">繹宇數位科技股份有限公司</a>
            </li>
            <li class="custom-connect-company-phone">
                <a class="text-dark-light" href="tel:+886-2-2775-5005">+886-2-2775-5005</a>
            </li>
            <li class="custom-connect-company-mail">
                <a class="text-dark-light" href="mailto:sales@easyuse.com.tw">sales@easyuse.com.tw</a>
            </li>
        </ul>
    </div>
    <div class="Copyright  bg-dark">
        <div class="container">
            <h5 class="display-md">© 2020 EASYUSE DIGITAL TECHNOLOGY. ALL RIGHTS RESERVED.</h5>
            <h5 class="display-sm">© 2020 EASYUSE DIGITAL TECHNOLOGY.<br>ALL RIGHTS RESERVED.</h5>
        </div>
    </div>
</footer>