<footer>
    <div class="Connect  bg-grey-light  container  d-flex  align-items-center">
        <img src="./assets/images/desktop/desktop_ic_footer_logo@2x.png" alt="">
        <ul class="list-unstyled  d-flex  flex-column">
            <li>
                <a class="text-green-light" href="#">繹宇數位科技股份有限公司</a>
            </li>
            <li>
                <a class="text-dark-light" href="tel:+886-2-2775-5005">+886-2-2775-5005</a>
            </li>
            <li>
                <a class="text-dark-light" href="mailto:sales@easyuse.com.tw">sales@easyuse.com.tw</a>
            </li>
        </ul>
    </div>
    <div class="Copyright  bg-dark">
        <div class="container">
            <h5>© 2020 EASYUSE DIGITAL TECHNOLOGY. ALL RIGHTS RESERVED.</h5>
        </div>
    </div>
</footer>