<header class="bg-dark-light">
    <div class="container  d-flex  align-items-center  justify-content-between">
        <a class="SiteLogo  mhu-logo" href="#">MailHunter</a><a href="#">預約Demo</a>
    </div>
</header>