<header class="bg-dark-light">
    <div class="d-flex  align-items-center  justify-content-between">
        <a class="SiteLogo  mhu-logo" href="#demoblock">MailHunter</a><a href="#">預約 Demo</a>
    </div>
</header>