
        <!-- Modal -->
        <div class="modal fade" id="LandingModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="LandingModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content  modal-landing-content">
                    <div class="modal-header  modal-landing-header  bg-success  d-flex  flex-column">
                            <div type="button" class="bg-success  btn-landing-close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"><div class="modal-landing-close"></div></span>
                            </div>
                            <div class="modal-landing-title"></div>
                    </div>
                    <div class="modal-body  modal-landing-body  d-flex  flex-column  align-items-center">
                        <h5 class="text-dark">表單已送出</h5>
                        <h6 class="text-fourth">感謝您！我們將儘速與您聯絡。</h6>
                        <button type="button" class="custom-btn-finish btn btn-success" data-dismiss="modal">確定</button>
                    </div>
                </div>
            </div>
        </div>