footer {
    .ABTest-Connect {
        padding-top: 66px;
        padding-bottom: 66px;
        align-items: center;
        @include tablet() {
            padding-top: 50px;
            padding-bottom: 50px;
            flex-direction: column;
        }
        @include mobile() {
            padding-top: 46px;
            padding-bottom: 46px;
        }
        .img {
            background-image: url("../images/desktop/desktop_ic_footer_logo@2x.png");
            background-size: contain;
            width: 168px;
            height: 36px;
            margin-left: 471px;
            margin-right: 130px;
            @include tablet() {
                background-image: url("../images/tablet/tablet_ic_footer_logo@2x.png");
                width: 168px;
                height: 36px;
                margin-left: auto;
                margin-right: auto;
            }
            @include mobile() {
                background-image: url("../images/mobile/mobile_ic_footer_logo@2x.png");
                width: 168px;
                height: 36px;
            }
        }
        ul {
            margin-right: 471px;
            @include tablet() {
                margin-left: auto;
                margin-right: auto;
            }
            .custom-connect-company-name {
                a , a:hover {
                    font-family: PingFangTC-Semibold;
                    font-weight: 600;
                    letter-spacing: 0.62px;
                    @include tablet() {
                        display: none;
                    }
               }
            }
            
            .custom-connect-company-phone {
                margin-top: 18px;
                @include tablet() {
                    margin-top: 30px;
                    margin-left: auto;
                    margin-right: auto;
                }
                @include mobile() {
                    margin-top: 24px;
                }
                a , a:hover {
                    font-family: Avenir-Medium;
                    font-weight: 500;
                    letter-spacing: 0.62px;
                }
            }
            
            .custom-connect-company-mail {
                margin-top: 16px;
                @include mobile() {
                    margin-top: 12px;
                    margin-left: auto;
                    margin-right: auto;
                }
                a , a:hover {
                    font-family: Avenir-Medium;
                    font-weight: 500;
                    letter-spacing: 0.62px;
                }

            }
        }        
    }

    .ABTest-Copyright {
        padding-top: 21px;
        padding-bottom: 21px;
        @include mobile() {
            padding-top: 19px;
            padding-bottom: 19px;
        }
        h5 {
            font-family: Avenir-Medium;
            font-size: 13px;
            font-weight: 500;
            letter-spacing: 0.5px;
            text-align: center;
            color: #d8d8d8;
        }
    }
}