header {
    padding-top: 27px;
    padding-bottom: 28px;
    img {
        width: 222px;
        height: 33px;
        object-fit: contain;
        margin-left: 24px;
    }
    a, a:hover {
        margin-right: 40px;
        font-family: PingFangTC, AvenirNext;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0.62px;
        color: #ffffff;
    }
}