.optical {
    background: white;
    color: #111619;
    width: 100%;
}
.optical_menu{    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1386px;
    margin: 0 auto;
    .optical_menu_img {
        display: flex;
        justify-content: center;
        width: 444px;
        border-left: 1px solid #DCDCDC;
        border-right: 1px solid #DCDCDC;
        padding-top: 24px;
        padding-bottom: 8px;
        
        img{
            width: 48px;
            height: 48px;
            padding-right: 8px;
        }
        p{
            font-size: 42px;
            a {
                color: #000;
            }
        }
    }
    .optical_menu_bottom {
        display: flex;
        justify-content: center;
        width: 444px;
        border-left: 1px solid #DCDCDC;
        border-right: 1px solid #DCDCDC;
        padding-top: 16px;
    }
    .active_optical_menu_bottom {
        background-color: #AA0601;
    }
}
.optical_demoimg {
    display: flex;
    justify-content: space-between;

    li img{
        width: 100%;
        height: auto;
    }
    li:nth-child(2) {
        width: 30px;
    }
}

.optical_title {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    li:nth-child(1) {
        font-size: 42px;
        line-height: 63px;
        padding-top: 88px;
    }
    li:nth-child(2) {
        font-size: 32px;
        line-height: 48px;
        padding-bottom: 40px;
    }
}

.optical_product {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-right: 390px;
    padding-left: 390px;
    li {
        width: 25%;
        padding-bottom: 104px;     

        .optical_wrap {
            padding-right: 15px;
            padding-left: 15px;
            
            img {
                width: 100%;
                height: auto;
            }

            p {
                display: flex;
                justify-content: space-between;
                font-size: 24px;            
                line-height: 36px;
            }
            p span:nth-child(2){
                color: #AA0601;            
            }
        }
    }

}

.optical_color{    
    display: flex;

    .optical_color1 {
        width: 24px;
        height: 24px;
        background: #5F3E2D 0% 0% no-repeat padding-box;
        border-radius: 4px;
        margin-right: 8px;
    }
    
    .optical_color2 {
        width: 24px;
        height: 24px;
        background: #B75929 0% 0% no-repeat padding-box;
        border-radius: 4px;
    }
}

.optical_onpage {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 156px;
    li{
        font-size: 18px;
        padding: 10px 14px 12px 14px;
        border: 1px solid #555555;
    }
    .optical_onpage_active{
        color: #FFFFFF;
        background: #000000;
        border: 0px;
    }
    li:first-child {
        font-size: 19px;
        padding: 10px 12px 12px 12px;
    }
    li:last-child{
        font-size: 19px;
        padding: 10px 12px 12px 12px;
        background: #F2F2F2;
    }
}

@media(max-width:992px){
    .optical_menu {
        width: 100%;
        .optical_menu_img {
            width: 33%;
        }
        .optical_menu_bottom {
            width: 33%;
        }
    }
}