.banner {
    background: url("../images/index1.jpg") no-repeat right top; 
    background-size: cover;
    padding-top: 295px;
    padding-bottom: 295px;
}

.bannerContent {
    h1 {
        font-size: 40px;
    }
    p {
        font-size: 24px;
    }
    button {
        font-size: 24px;
        border-radius: 30px;
    }
    color: white;
}